$bg-color: #181D1E;

* {
  //outline: 1px solid red;
}

html {
   font-family: 'Montserrat', sans-serif;
  font-size: 62.5%;
}

body {
  background-color: $bg-color;
  height: 100vh;
  overflow: hidden;
}

.header {
  max-width: 1140px;
  width: 90%;
  margin: 0 auto;
  height: 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    
    svg {
      width: 80%;
    }
  }
  
  .search {
    position: relative;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;  
    
    &__input {
      min-height: 30px;
      padding-left: .5rem;
      margin-right: 1rem;
      font-family: 'Montserrat', sans-serif;
      font-size: 1.8rem;
      border: none;
      color: #000;
      background-color: #ffedac;    
      border-bottom: 3px solid #a93cdc;
      box-shadow: 2px 2px 2px #00000090,
                -2px -2px 2px #ffffff90;
    }
    
    &__icon {
      min-height: 30px;
      cursor: pointer;
      transition: transform .3s ease-in;
      &:hover {
        transform: scale(1.2);
      }
      
      &:active + .search-results {
        opacity: 1;
      }
    }
    
    &__input, &__icon {
      height: 35%;
      max-height: 80px;
      svg {
        height: 100%;
      }
    }
  }
  
  .search-results {
    position: absolute;
    top: 100%;
    right: 0;
    width: 150%;
    background-color: #ccc;
    opacity: 0;
    transition: opacity .5s ease-in;
    
    &__header {
      margin: 1rem;
      font-size: 1.6rem;
      text-align: center;
    }
    
    &__list {
      margin: 1rem;
      list-style: none;
      font-size: 1.4rem;
    }
    
    &__item {
      padding: .5rem;
    }
    
  }
 
}

.main {
  height: 70%;
  width: 100%;
  background-image: url("../images/banner.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-size: 3.6rem;

  .quote {
    width: 80%;
    &__body {
      display: inline-block;
      padding: 2rem 0 3rem;
      text-align: center;
    }

    &__author {
      text-align: right;
    }
  }

  .btn {
    position: relative;
    padding: 2rem 3rem;
    display: block;    
    background: linear-gradient(180.29deg, #0E6477 13.22%, #1C0000 49.49%, #A93CDC 84.23%);
    border: none;
    border-radius: 5px;
    box-shadow: 3px 3px 3px #3f2b2b90,
                -3px -3px 3px #ffffff90;
    cursor: pointer;
    
    span {
      position: relative;
      z-index: 1;
      font-size: 2.4rem;
      text-transform: uppercase;
      font-family: inherit;
      color: #fff;
    }
    
    &::before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      right: 100%;
      border-radius: 5px;
      background: linear-gradient(180.29deg, #A93CDC 13.22%, #1C0000 49.49%, #0E6477 84.23%);
      opacity: 0;
      transition: opacity .3s ease-in;
    }
    
    &:hover::before {
      opacity: 1;
    }
  }
}

.footer {
  height: 15%;
  color: #fff;
  display: grid;
  place-items: center;
}


#loader {
  display: none;

  &.show {
    display: inline-block;
  }

  span {
    position: relative;

    &::after {
      content: "";
      display: block;
      height: 1rem;
      width: 100%;
      background: $bg-color;
      position: absolute;
      top: 0;
      right: 0;
      animation: loader-animation 1s linear infinite alternate;
    }
  }
}

@keyframes loader-animation {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(100%);
  }
}

@media (min-width: 1200px) {
  .header {
    width: 80%;
    max-width: 144rem;
  }
  
  .quote {
    width: 80%;
    max-width: calc(144rem - 20%);
  }
}

@media (max-width: 767px) {
  html {
    font-size: 50%;
  }
  
  .header {
    height: 10%;
    min-height: 100px;
    width: 90%;
    max-width: 1140px;
    
    .logo {
      svg {
        width: 70%;
      }
    }
    
    .search {
      .search-results {
        width: 100%;
      }
    }
  }
  
  .main {
    height: 80%;
  }
 
   .quote {
     max-width: calc(100% - 50px);
  }
  .main {
    .quote {
      &__author {
         text-align: center;
      }
    }
  }
  
  .footer {
    height: 10%;
  }
  
}

@media (max-width: 600px) {
  
  .search, .logo {
    max-height: 40px;
  }
}